---
import HomeDashboard from '../components/home/HomeDashboard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main id="main-content">
    <HomeDashboard />
  </main>
</BaseLayout>
